Package: com.dvntm.ytlite
Name: YouTube Plus
Depends: mobilesubstrate
Version: 3.0.1
Architecture: iphoneos-arm
Description: A flexible enhancer for YouTube on iOS
Maintainer: xuninc
Author: xuninc
Section: Tweaks
